<a href="https://colab.research.google.com/github/natatsypora/figure_friday/blob/main/FigureFriday_38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import pandas as pd
import numpy as np

In [2]:
# @title custom function show_info
def show_info(df):
    """Return a dataframe ( descriptive statistics that summarize the dataset,
    including unique, missing  and zero values)."""

    # get the desired statistics using the built-in methods of pandas dataframe
    res = df.agg(["count", "nunique"]).T
    res["missing"] = df.isna().sum()
    res["% missing"] = round(res["missing"] / len(df) * 100, 2)
    res.insert(0, "data_type", df.dtypes)
    res['zero'] = (df == 0).sum(axis=0)
    res['%zero'] = round(res['zero']/df.shape[0]*100, 2)

    res.index.name = "col_name"
    res.reset_index(inplace=True)

    return res.replace(0, '-')

## Clone the Repository from GitHub

In [ ]:
# Clone the Repository
!git clone https://github.com/BloombergGraphics/2024-h1b-immigration-data.git

In [4]:
df = pd.read_csv("/content/2024-h1b-immigration-data/TRK_13139_FY2021.zip",
                 low_memory=False)

df.head(3)

,bcn,country_of_birth,country_of_nationality,ben_date_of_birth,ben_year_of_birth,gender,employer_name,FEIN,mail_addr,city,...,S1Q1B,BEN_EDUCATION_CODE,ED_LEVEL_DEFINITION,BEN_PFIELD_OF_STUDY,BEN_COMP_PAID,DOT_CODE,NAICS_CODE,S3Q1,S4Q1,T_U_VAWA_FLAG
0,(b)(6),CHN,CHN,(b)(6),1981,male,D&R I.P. Law Firm,453745389,108 N Ynez Ave,Monterey Park,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(b)(6),IND,IND,(b)(6),1994,male,ITTECHNICA INC,824530582,1825 W Walnut Hill Ln,Irving,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(b)(6),CAN,CAN,(b)(6),1988,male,"Tesla, Inc.",912197729,3500 Deer Creek Rd,Palo Alto,...,NaN,G,MASTER'S DEGREE,COMPUTER ENGINEERING,125000,007,336111,B,N,NaN

In [5]:
df['bcn'].value_counts()

bcn
(b)(6)                     269377
(b)(3) (b)(6) (b)(7)(c)        47
Name: count, dtype: int64

In [6]:
# only nonblank value
df = df[df['bcn']!='(b)(3) (b)(6) (b)(7)(c)'].copy()
df.shape

(269377, 56)

In [7]:
show_info(df)

,col_name,data_type,count,nunique,missing,% missing,zero,%zero
0,bcn,object,269377,1,-,-,-,-
1,country_of_birth,object,269377,195,-,-,-,-
2,country_of_nationality,object,269377,177,-,-,-,-
3,ben_date_of_birth,object,269377,1,-,-,-,-
4,ben_year_of_birth,object,269377,72,-,-,-,-
5,gender,object,269377,2,-,-,-,-
6,employer_name,object,269377,38034,-,-,-,-
7,FEIN,object,269377,38134,-,-,-,-
8,mail_addr,object,269377,32400,-,-,-,-
9,city,object,269377,3492,-,-,-,-
10,state,object,269377,56,-,-,-,-
11,zip,object,269377,29123,-,-,-,-
12,agent_first_name,object,269365,12187,12,-,-,-
13,agent_last_name,object,269375,21336,2,-,-,-
14,lottery_year,object,269377,1,-,-,-,-
15,status_type,object,269377,2,-,-,-,-
16,ben_multi_reg_ind,object,269377,2,-,-,-,-
17,RECEIPT_NUMBER,object,99984,1,169393,62.88,-,-
18,rec_date,object,99984,248,169393,62.88,-,-
19,FIRST_DECISION,object,99865,2,169512,62.93,-,-
20,first_decision_date,object,99865,616,169512,62.93,-,-
21,i129_employer_name,object,99984,21944,169393,62.88,-,-
22,PET_STREET,object,99981,28294,169396,62.88,-,-
23,PET_CITY,object,99984,2544,169393,62.88,-,-
24,PET_STATE,object,99984,53,169393,62.88,-,-
25,PET_ZIP,object,99984,5908,169393,62.88,-,-
26,REQUESTED_CLASS,object,99984,2,169393,62.88,-,-
27,BASIS_FOR_CLASSIFICATION,object,99984,6,169393,62.88,-,-
28,REQUESTED_ACTION,object,99984,6,169393,62.88,-,-
29,NUMBER_OF_BENEFICIARIES,object,99984,2,169393,62.88,-,-
30,BEN_SEX,object,99962,3,169415,62.89,-,-
31,BEN_COUNTRY_OF_BIRTH,object,99890,189,169487,62.92,-,-
32,BEN_CURRENT_CLASS,object,85979,63,183398,68.08,-,-
33,JOB_TITLE,object,55981,15853,213396,79.22,-,-
34,DOL_ETA_CASE_NUMBER,object,99610,1,169767,63.02,-,-
35,WORKSITE_STREET,object,99982,44805,169395,62.88,-,-
36,WORKSITE_CITY,object,99984,3075,169393,62.88,-,-
37,WORKSITE_STATE,object,99984,53,169393,62.88,-,-
38,WORKSITE_ZIP,object,99984,6946,169393,62.88,-,-
39,FULL_TIME_IND,object,-,-,269377,100.0,-,-
40,WAGE_AMT,object,-,-,269377,100.0,-,-
41,WAGE_UNIT,object,-,-,269377,100.0,-,-
42,valid_from,object,96285,478,173092,64.26,-,-
43,valid_to,object,96285,956,173092,64.26,-,-
44,NUM_OF_EMP_IN_US,object,99975,1903,169402,62.89,-,-
45,S1Q1A,object,99979,3,169398,62.89,-,-
46,S1Q1B,object,-,-,269377,100.0,-,-
47,BEN_EDUCATION_CODE,object,99974,10,169403,62.89,-,-
48,ED_LEVEL_DEFINITION,object,99974,10,169403,62.89,-,-
49,BEN_PFIELD_OF_STUDY,object,99969,13459,169408,62.89,-,-
50,BEN_COMP_PAID,object,99981,16051,169396,62.88,-,-
51,DOT_CODE,object,96281,103,173096,64.26,-,-
52,NAICS_CODE,object,99972,1351,169405,62.89,-,-
53,S3Q1,object,99959,3,169418,62.89,-,-
54,S4Q1,object,96165,2,173212,64.3,-,-
55,T_U_VAWA_FLAG,object,-,-,269377,100.0,-,-

In [9]:
# Status of the registration."SELECTED" means the registration was selected in the lottery
df.status_type.value_counts(dropna=False)

status_type
CREATED     145009
SELECTED    124368
Name: count, dtype: int64

In [10]:
# First decision of petition
df.FIRST_DECISION.value_counts(dropna=False)

FIRST_DECISION
NaN         169512
Approved     96084
Denied        3781
Name: count, dtype: int64

In [11]:
f'Approved + Denied = {96084+3781:,.0f}'

'Approved + Denied = 99,865'

## Employer Name

In [12]:
# Unique number assigned to the petition
df.RECEIPT_NUMBER.value_counts()

RECEIPT_NUMBER
(b)(6)    99984
Name: count, dtype: int64

In [53]:
df_unique_petition = df[~df['RECEIPT_NUMBER'].isna()][['i129_employer_name', 'gender']]
df_unique_petition.shape

(99984, 2)

In [57]:
# Data for plot
df_for_pie = df_unique_petition['gender'].value_counts(normalize=True)
text_annot = df_unique_petition.shape[0]
text_pie = df_unique_petition['gender'].value_counts()

# Create the figure with pie chart (hole = 0.7)
fig = go.Figure(data=[go.Pie(labels=[el.title() for el in df_for_pie.index],
                             values=df_for_pie.values, textfont_size=14,
                             text=text_pie, hoverinfo='skip',
                             textinfo='label+percent+text', textposition='outside',
                             texttemplate='<b>%{label}</b> <br><b>%{percent:0.0%}</b><br>(%{text:,.0f})',
                             marker_colors=['rgba(31, 119, 180, 0.2)','rgba(31, 119, 180, 1.0)'],
                             marker_line_color='rgb(8, 48, 107)',
                             marker_line_width=1,
                             hole=0.7)])

# Add text to center of the pie
fig.add_annotation(x=0.5, y=0.5,
                   text=f'Total <br>Number of Receipts <br><b>{text_annot:,.0f}</b>',
                   font_size=14,
                   showarrow=False)

# Define layout properties
fig.update_layout(paper_bgcolor='rgba(31, 119, 180, 0.05)', plot_bgcolor='rgba(0, 0, 0, 0)',
                  width=400, height=300,
                  margin=dict(l=50, r=50, b=20, t=70),
                  title=f'<b>Gender Proportions by Receipt Number</b>',
                  title_x=0.5, font_size=12,
                  showlegend=False)

fig.show()

In [58]:
# Get the top 10 employer names
top_10_employer_name = df_unique_petition['i129_employer_name'].value_counts().nlargest(10).index

# Filter the dataframe for the top 10 employers
df_up_filtered = df_unique_petition[df_unique_petition['i129_employer_name'].isin(top_10_employer_name)]

# Create a crosstab of employer names and gender
crosstab_result = pd.crosstab(df_up_filtered['i129_employer_name'],
                              df_up_filtered['gender'],
                              normalize='index').sort_values(by='female')

# Define customdata for hoverinfo
values = pd.crosstab(df_up_filtered['i129_employer_name'],
                     df_up_filtered['gender'])

# Define colors for bar
marker_colors = ['rgba(31, 119, 180, 0.2)', 'rgba(31, 119, 180, 1.0)']

# Get first word of employer name
y = [name.split()[0] for name in crosstab_result.index]

In [60]:
# Create the figure
fig2 = go.Figure()

# Add bars to the figure
for col, m_c in zip(crosstab_result.columns[::-1], marker_colors):
    fig2.add_trace(go.Bar(
                    x=crosstab_result[col],
                    y=y,
                    orientation='h',
                    name=col.title(),
                    width=0.5,
                    customdata=values[col].tolist(),
                    text=crosstab_result[col], texttemplate='%{text:0.0%}',
                    hovertemplate='%{y}<br>%{text:.1%} (%{customdata:,.0f})<extra></extra>',
                    marker_color=m_c,
                    marker_line_color='rgb(8, 48, 107)',
                    marker_line_width=1)
                )

# Layout Configuration
fig2.update_layout(
    paper_bgcolor='rgba(31, 119, 180, 0.05)', plot_bgcolor='rgba(0, 0, 0, 0)',
    title=f'<b>Gender Breakdown of Top 10 Employer Name <br><sub>H-1B Visa Lottery 2021<b>',
    template='simple_white', font_size=12,
    barmode='group', bargap=0.5,
    margin=dict(t=100, b=20, l=100, r=20),
    width=500, height=550,
    xaxis_visible=False,
    yaxis=dict(linecolor='rgba(0, 0, 0, 0)',
               tickfont_color='rgb(8, 48, 107)',
               tickfont_weight='bold'),
    # define legend properties
    legend=(dict(orientation='h', bgcolor='rgba(0, 0, 0, 0)',
                 traceorder='reversed',
                 x=0.7, y=1.05,
                 xanchor='center',
                 yanchor='middle'))
                )
fig2.show()